/* Variables */
:root {
  --padding-side: 2rem;
  --colour-aycc-yellow: #ffdf4f;
  --colour-aycc-blue: #00aeef;
  --colour-aycc-blue-light: #00afef31;
  --color-aycc-blue-dark: #1b75bc;
  --font-size-default: 1.5rem;
}

@media screen and (min-width: 769px) {
  :root {
    --padding-side: 4rem;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--colour-aycc-blue);
  color: white;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  body {
    flex-direction: row;
  }
}

@media (min-width: 769px) {
  /* Equally distribute the halves */
  .col {
    flex: 1;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header img {
  max-width: 10rem;
  margin-top: var(--padding-side);
  margin-left: var(--padding-side);
  margin-bottom: 2rem;
}

/* Add padding for introductory text */
header section {
  /* z-index: 10; */
  padding: 0 var(--padding-side);
  margin-bottom: var(--padding-side);
}

header section p {
  font-size: var(--font-size-default);
}

/* Style smaller text */
header section p.small {
  font-size: 1rem;
  margin-top: var(--padding-side);
  color: var(--color-aycc-blue-dark);
  max-width: 40ch;
}

header section p.small a {
  color: inherit;
}

/* Style yellow text */
header section p.yellow {
  color: var(--colour-aycc-yellow);
}

.typeform-container {
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.typeform-container a {
  padding: 2rem;
  height: 100%;
  text-decoration: none;
  font-size: var(--font-size-default);
  color: var(--colour-aycc-blue);
  display: flex;
  align-items: center;
}

.typeform-container a:not(:last-of-type) {
  border-bottom: 3px solid var(--colour-aycc-blue);
}

.typeform-container a:hover {
  background-color: var(--colour-aycc-blue-light);
}

/* Style finger pointer */
span#finger:before {
  content: "👇";
}

@media (min-width: 769px) {
  span#finger:before {
    content: "👉";
  }
}

span#finger {
  animation-name: prod;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes prod {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (min-width: 769px) {
  @keyframes prod {
    0% {
      padding-left: 0;
    }
    100% {
      padding-left: 0.3rem;
    }
  }
}
